.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;  width:100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.alert-success{
  background-color: #D8C7FC !important;
  border: none !important;
  color: black !important;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  margin: 0 auto;
}
h1{
  color: #4B466D;
}
.altsucc{
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

