#bt{
    margin:0px;
    margin-top: 20px;
    background-color: #4B466D;
    width: 20%;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#lab{
    margin-top: 20px;
    color: #4B466D;
    font-weight: bold;
}

.form-control:focus {
    border-color: #4B466D;
    box-shadow: 0 0 0 0.2rem #D8C7FC;
} 